header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  color: #fff;
  background: #ff4d00;
  text-align: center;
}

.test-image {
  
  width: 100px;
  height: 100px;
}